{% extends "base.html" %}

{% block head %}
{{super()}}

<style>
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 400px;
    }

    .instruction {
        width: 30em;
        position: static;
        color: #565d64;
        text-align: center;
    }
</style>
{% endblock %}


{% block content %}
{% include "menu.html" %}

<main>
    <div class="instruction">
        Select a month on the menu to view the detailed wage report for that month.
    </div>
</main>
{% endblock %}