{% extends "base.html" %}

{% block title %}
Wage Report {{report_name}}
{% endblock %}

{% block content %}
<table class="pure-table">
    <thead>
        <tr>
            <td>Person ID</td>
            <td>Name</td>
            <td>Month Payment</td>
            <td>Base Payment</td>
            <td>Evening Payment</td>
            <td>Overtime Payment</td>
        </tr>
    </thead>

    <tbody>
        {% for person_id, report in wage %}
        <tr>
            <td>{{person_id}}</td>
            <td>{{report.name}}</td>
            <td>{{report.month_total}}</td>
            <td>{{report.base_total}}</td>
            <td>{{report.evening_total}}</td>
            <td>{{report.overtime_total}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% for person_id, _ in wage %}
<table>
    {% for day in range(0, 7) %}
    <tr>
        <td>{{["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"][day]}}</td>
        {% for hour in range(0, 24) %}
        <td style="transform: scale({{punchcards[person_id][day][hour]}}); opacity: {{punchcards[person_id][day][hour]}}; width: 20px; height: 20px;">
            <svg height="20" width="20">
            <circle cx="10" cy="10" r="10"  stroke-width="3" fill="black" />
            </svg> 
        </td> 
        {% endfor %}
    </tr>
    {% endfor %}

    <tr>
        <td></td>
        {% for hour in range(0, 24) %}
        <td>{{hour}}</td>
        {% endfor %}
    </tr>
</table>
<hr>
{% endfor %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
<script>
    var wage = {{wage_json | tojson | safe}};
</script>
{% endblock %}
